<h1 *ngIf="solo">Détail emprunteur : </h1>
<article>
  <div class="entity">
    <p><span class="bold">Nom : </span>{{emprunteur.nomEmprunteur}}</p>
    <p><span class="bold">Prénom : </span>{{emprunteur.prenomEmprunteur}}</p>
    <p><span class="bold">Mail : </span>{{emprunteur.mailEmprunteur}}</p>
    <p><span class="bold">Promotion : </span>{{emprunteur.promo}}</p>
    <p><span class="bold">Classe : </span>{{emprunteur.classe}}</p>
  </div>
  <div class="controls">
    <button (click)="update()">Modifier</button>
    <button (click)="delete()">Supprimer</button>
  </div>
</article>

