<h1>Liste des exemplaires : </h1>
<button class="sortAnneeASC" (click)="exemplaireService.trierDatesCroissant(exemplaires)">Tri par année - ASC</button>
<button class="sortAnneeDESC" (click)="exemplaireService.trierDatesDecroissant(exemplaires)">Tri par année - DESC</button>
<button class="sortNumASC" (click)="exemplaireService.trierIdsCroissant(exemplaires)">Tri par numéro - ASC</button>
<button class="sortNumDESC" (click)="exemplaireService.trierIdsDecroissant(exemplaires)">Tri par numéro - DESC</button>
<br>

<app-exemplaire-details
  *ngFor="let exemplaire of exemplaires"
  (click)="openExemplaireDetails(exemplaire)"
  [exemplaire]="exemplaire"
  [solo]="false"></app-exemplaire-details>
<button class="create" (click)="openCreateExemplaire()">Créer</button>
